@font-face{
  font-family:iconfont;
  src:url("/static/img/iconfont/iconfont.woff") format("woff"),
    url("/static/img/iconfont/iconfont.ttf") format("truetype");
}
.iconfont{
	 font-family:iconfont;
}